<div>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div>
      <label for="name">Name:</label>
      <input id="name" type="text" formControlName="name">
      <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
        Name is required.
      </div>
    </div>
    <div>
      <label>Image:</label>
      <input id="image" type="text" formControlName="image">
      <div *ngIf="form.controls['image'].invalid && form.controls['image'].touched">
        Image is required.
      </div>
    </div>
    <button type="submit" [disabled]="form.invalid">SUBMIT</button>
    <div *ngIf="form.invalid && form.touched">
      Please fill in all fields.
    </div>
  </form>
</div>
